/* Basic reset */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
hr{
  margin-bottom: 9%;
}

.form {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  margin-top: 50px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 20px;
  width: 100%;
}

form label {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  text-align: left;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

form input:focus, form textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.reg {
  width: 100%;
}

.reg button {
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  height: 50px;
  width: 100%;
}

.reg button:hover {
  background-color: lavender;
}

.error {
  color: red;
  font-size: 12px;
}
