<div class="menu">
<mat-toolbar color="accent">
   
    <span>WORKER ATTENDANCE</span>
    <span class="example-spacer"></span>
    <a mat-button color="white" href="login"> LOGIN </a>
</mat-toolbar>
</div>
<div>
    <img src="assets/image.jpg" style="height: 450px; width: 100%;">
</div>

    
    <footer>
        <div class="row primary">
            <div class="column about">
                <p class="rrr">WORKER ATTENDANCE</p>

                <div class="social">
                    <i><img src="assets/facebook.png" style="width: 50px;"></i>
                    <i><img src="assets/whatsapp.png" style="width: 50px;"></i>
                    <i><img src="assets/twitter.png" style="width: 50px;"></i>
                    <i><img src="assets/instagram.png" style="width: 50px;"></i>
                </div>
            </div>

            <div class="column links">
                <h3>Some Links</h3>
                <ul class="kazi">
                    <li class="kazi1"><a href="#faq" class="kazi3">F.A.Q</a></li>
                    <li class="kazi1"><a href="#cookies-policy" class="kazi3">Cookies Policy</a></li>
                    <li class="kazi1"><a href="#terms-of-services" class="kazi3">Terms Of Service</a></li>
                    <li class="kazi1"><a href="#support" class="kazi3">Support</a></li>
                </ul>
            </div>

            <div class="column links">
                <h3>Some Links</h3>
                <ul class="kazi">
                    <li class="kazi1"><a href="#faq" class="kazi3">F.A.Q</a></li>
                    <li class="kazi1"><a href="#cookies-policy" class="kazi3">Cookies Policy</a></li>
                    <li class="kazi1"><a href="#terms-of-services" class="kazi3">Terms Of Service</a></li>
                    <li class="kazi1"><a href="#support" class="kazi3">Support</a></li>
                </ul>
            </div>

            <div class="column subscribe">
                <h3>Newsletter</h3>
                <div>
                    <input type="email" placeholder="Your email id here" />
                    <button>Subscribe</button>
                </div>
            </div>
        </div>

        <div class="row copyright">
            <div class="footer-down-menu">
                <a href="" class="kazi3">Home</a>
                <a href="" class="kazi3">About</a>
                <a href="" class="kazi3">Contact</a>
                <a href="" class="kazi3">Blog</a>
                <a href="" class="kazi3">Social</a>
            </div>
            <p>Copyright &copy; 2024</p>
        </div>
    </footer>   

    