<div class="container">
  <div class="fog">
    <p>Request New Password</p>
  </div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
      <div *ngIf="forgotPasswordForm.get('newPassword')?.invalid && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)" class="error">
        <div *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['required']">New password is required.</div>
        <div *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['minlength']">New password must be at least 8 characters long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="forgotPasswordForm.get('confirmPassword')?.invalid && (forgotPasswordForm.get('confirmPassword')?.dirty || forgotPasswordForm.get('confirmPassword')?.touched)" class="error">
        <div *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required.</div>
        <div *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['minlength']">Confirm password must be at least 8 characters long.</div>
      </div>
    </div>
    <div class="save">
      <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Save Changes</button>
    </div>
  </form>
</div>
